*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}





.p{
    margin-left: 10px;
    margin-right: 10px;
    float:right;
}

body{
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.nav-div{
    
    background: #0099ff;
    height: 80px;
    width: 100%;

}

span.logo{
    font-size: 50px;
    padding: 20px;
}

label.logo{
    color: white;
    font-size: 5px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul{
    /* float: right; */
    display: flex;
    gap: 1rem;
    /* margin-right: 20px; */
    align-items: center;

}

nav ul li{
    display: inline-block;
    /* line-height: 80px; */
    /* margin: 0 50px; */
}

nav ul li a {
    color: black ;
    font-size: 17px;
    /* padding: 7px 13px; */
    border-radius: 3px;
    text-transform: uppercase;

}

a.active, a:hover{
    background:  #0abaf5;
    transition: .5s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

.education-image{
    /* width: 720px;
    display: block;
    align-items: center; */
    display: block;
     margin-left: auto;
     margin-right: auto;
    width: 50%;

}

.sm{


}




.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

@media(min-width: 280px){
    .container{
        max-width: 330px;
    }
}

@media(min-width:400px){
    .container{
        max-width: 340px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 710px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 930px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}